<!DOCTYPE html>
<html>
  <head>
    <title>FrontPage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login to add games, or just go ahead and view</h1>
    <p>Welcome to some of the best chess games you'll ever see. Prepare to be amazed!</p>
  </body>
</html>
